<section class="mt-8 relative">
    <div class="grid grid-cols-1">
        <div class="flex justify-end" data-aos="fade-left" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="600">
            <img [src]="'./assets/image/programmer.png'" />
        </div>
        <div
            class="w-[500px] sm:w-[550px] flex flex-col gap-4 justify-between sm:absolute top-0 left-0 sm:top-5 rounded-md pb-5" data-aos="fade-right" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="600">
            <h1 class="text-6xl dark:text-white">Hi. I'm <span
                    class="text-primary-600 dark:text-primary-400">{{profile().name}}</span></h1>
            <h1 class="text-[35px] dark:text-white"><span
                    class="text-primary-600 dark:text-primary-400">{{profile().occupation}}</span></h1>
            <h1 class="text-base font-semibold dark:text-white"><span
                    class="dark:text-white ">{{profile().bio}}</span></h1>

            <div class="flex flex-col sm:flex-row sm:items-center gap-4">
                <btn [link]="profile().resumeLink" ariaLabel="resume" class="flex gap-1">
                    <icon [size]="20" iconClass="fill-white" [path]="fileIcon" />
                        <span>Resume</span>
                </btn>
                <social-link />
            </div>
        </div>
    </div>
</section>